
<%- include("partials/header.ejs"); -%>

    <div class="container" id="imageAndtext">
        <img src="6.png" alt="" id="frontimg">
        <h4 id="h4-intro"><%= variable %> </h4>
    </div>

<%- include("partials/footer.ejs"); -%>
